.main-container {
    grid-area: dashboard;
    overflow-y: auto;
    padding: 1.3rem;
    color: #fff;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;
}

.main-title > h3 {
    margin-bottom: 1rem;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.7rem 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    height: 10rem;
    transition: all .5s;
    user-select: none;
}

.card:hover {
    transform: scale(1.04);
    transition: all .5s;
}

.card:first-child {
    background-color: var(--home-secondary);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, .1);
}

.card:nth-child(2) {
    background-color: var(--home-secondary);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, .1);
}

.card:nth-child(3) {
    background-color: var(--home-secondary);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, .1);
}

.card:nth-child(4) {
    background-color: var(--home-secondary);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, .1);
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #949494;
}

.card-inner > h3 {
    color: #949494;
}

.card-inner > .card_icon {
    font-size: 1.7rem;
}

.graphics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.paint-graphic {
    justify-self: center;
    background: var(--home-secondary);
    padding: 1.5rem 2.5rem;
    border-radius: 20px;
    margin-top: 1.5rem;
}

.paint-graphic > h3 {
    text-align: center;
    padding: 1.5rem 0;
}

.graphic-config {
    margin: 1rem;
}

.paint-graphic-left {
    justify-self: center;
    background: var(--home-secondary);
    padding: 1.5rem 11.875rem;
    border-radius: 20px;
    margin-top: 1.5rem;
}

.paint-graphic-left > h3 {
    text-align: center;
    padding: 1.5rem 0;
}

.edit-button {
    color: transparent;
    background: none;
    transition: .2s;
    margin-left: 4rem;
}

.edit-button:hover {
    color: #fff;
    transition: .2s;
    background: var(--caret-color);
    padding: .4rem .5rem;
    font-weight: 700;
    border-radius: 7px;
}

.dashboard-table {
    margin-top: 3rem;
}

.notes {
    margin-top: 3rem;
}

.notes-input {
    width: 100%;
    min-height: 50px; /* Set a minimum height */
    overflow: hidden; /* Hide scrollbar */
    color: var(--text-secondary);
    border: 3px solid #605d8d;
    border-radius: 10px;
    padding: .7rem 2rem;
}

.notes-input:focus {
    outline: none;
}

.note-btn {
    margin-top: .7rem;
}

.note-li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--home-secondary);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.notes-ul {
    margin-top: 3rem;
}