@import url(./dashboard/dashboard.css);
@import url(./header/header.css);
@import url(./sidebar/sidebar.css);
@import url(./expenses/expenses.css);
@import url(./documentation/documentation.css);

:root {
    --home-main: #262535;
    --home-secondary: #302e42;
    --text-secondary: #a0a0a0;
    --caret-color: #605d8d;
}

.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 1.3rem;
    color: #fff;
}

